<form >
    <label for="title">Title:
        <input type="text" name="title" id="title" ng-model="article.title">
    </label>
    <label for="author">Author
        <input type="text" id="author" name="author" ng-model="article.author">
    </label>
    <label for="content">Content
        <textarea id="content" name="name" cols="30" rows="10" ng-model="article.content"></textarea>
    </label>
    <!--<input type="submit" value="Add">-->
    <button ng-click="sendForm($event)">btn</button>
</form>